table {
    width: 80%;
    margin: auto;
    text-align: left;
    border-spacing: 0 3px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

thead {
    background-color: #181E29;
}

th, td {
    border: none;
    padding: 1rem;
}

td {
    font-size: 13px;
    background-color: rgba(28, 40, 63, 0.2);
}
