.bg-primary-blue {
    background-color: #144EE3;
}

.bg-primary-pink {
    background-color: #EB568E;
}

.bg-secondary {
    background-color: rgba(24, 30, 51, 0.5);
}

.bg-lite {
    background-color: #C9CED6;
}

.bg-grey {
    background-color: #181E29;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-black {
    background-color: #0B101B;
}
