.btn {
    margin: 0;
    padding: 16px 25px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary {
    background-color: #144EE3;
    color: #FFF;
}

.btn-primary:hover {
    background-color: rgba(20, 78, 227, 0.5);
}

.btn-secondary {
    background-color: rgba(24, 30, 51, 0.5);
    color: #FFF;
}

.btn-secondary:hover {
    background-color: #202531;
}

.btn-pill {
    border-radius: 25px;
}

.btn-shadow {
    box-shadow: 10px 5px 5px rgba(20, 78, 227, 0.4);
}

.btn-embed {
    position: relative;
    bottom: 57px;
}

.hero-input .btn-embed {
    left: 235px
}

.header-input .btn-embed {
    left: 334px
}
