.text-gradient {
    background: -webkit-radial-gradient(#EB568E, #144EE3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-primary-blue {
    color: #144EE3
}

.text-primary-pink {
    color: #EB568E;
}

.text-primary-green {
    color: #1EB036;
}

.text-primary-amber {
    color: #B0901E;
}

.text-lite {
    color: #C9CED6
}

.text-grey {
    color: #181E29;
}

.text-white {
    color: #FFFFFF;
}

.text-black {
    color: #0B101B;
}

.text-bold {
    font-weight: bold;
}

.text-bolder {
    font-weight: bolder;
}

.text-embed {
    position: relative;
    top: 46px;
}

.hero-input .text-embed {
    right: 280px;
}

.header-input .text-embed {
    right: 380px;
}

a {
    text-decoration: none;
}

.options {
    display: inline-block;
    justify-content: right;
    box-sizing: border-box;
    padding-top: 15px;
    padding-right: 20px;
}

.options a {
    margin-left: 145px;
    font-size: 16px;
}

.options:hover a {
    color: #144EE3;
}
