@import url('./styles/Buttons.css');
@import url('./styles/Header.css');
@import url('./styles/Input.css');
@import url('./styles/Main.css');
@import url('./styles/Text.css');
@import url('./styles/Table.css');
@import url('./styles/BgColors.css');

*, body, div, p, h1, section {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #0B101B;
  background-image: url('./assets/cubes.svg'), url('./assets/swirl.png');
  background-size: 160vw 130vh, 100vw 130vh;
  background-position-y: -75px, center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
